.btn{
min-width: 160px;
padding: 12px 20px;
border: 1px solid #ff6c00;
border-radius: 25px;

font-family: var(--main-font);
font-weight: 600;
font-size: 12px;
line-height: 1.3;
letter-spacing: 0.09em;
text-transform: uppercase;
color: var(--light-color);
background-color: transparent;
}