.container {
  min-width: 320px;
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  outline: 2px solid red;

  @include tablet {
    max-width: 720px;
  }

  @include desk {
    max-width: 1200px;
  }
}
