.container {
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 84px 15px;

  @include tablet {
    max-width: 720px;
    padding: 100px 15px;
  }

  @include desk {
    max-width: 1200px;
    padding: 120px 15px;
  }
}
