.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey-cl-60);

  &:before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--grey-cl-60);
  }
}

.uppertitle-dark {
  letter-spacing: 0;
  color: var(--secondary-txt-cl);

  &:before {
    content: "";
    background-color: var(--secondary-txt-cl);
  }
}
