.barbers {
  background-color: #f7f7f7;
}

.barbers-container {
  @include tablet {
    max-width: 480px;
  }

  @include desk {
    max-width: 1200px;
  }
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;

  @include desk {
    flex-direction: row;
    gap: 30px;
  }
}

.barbers-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.barbers-thumb {
  margin-bottom: 30px;
}

.barbersName {
  margin-bottom: 8px;

  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}

.barbers-subtext {
  margin-bottom: 30px;

  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--light-color);

  &:hover .social-icon {
    fill: var(--accent-color);
  }
}

.social-icon {
  fill: var(--secondary-txt-cl);
  transition: fill var(--anim-fast);
}
