.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 0 30px;

  @include tablet {
    max-width: 690px;

    justify-content: normal;
    padding: 32px 20px 0 21px;
  }

  @include desk {
    max-width: 1170px;
    padding: 32px 20px 0 0;
  }
}

.header-logo-link {
  display: block;

  @include tablet {
    margin-right: 60px;
  }

  @include desk {
    margin-right: 130px;
  }
}

.header-icons {
  fill: var(--light-color);

  @include tablet {
    fill: var(--secondary-txt-cl);
  }
}

.btn-menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;

  @include tablet {
    display: none;
  }
}

.burgerMenu-icon {
  position: absolute;
}

.header-nav {
  display: none;

  @include tablet {
    display: block;
    margin-right: auto;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;

  @include tablet {
    gap: 16px;
  }
  @include desk {
    gap: 30px;
  }
}

.header-nav-link {
  padding: 20px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-color);

  &:hover {
    color: var(--accent-color);
  }
}

.header-contacts {
  position: relative;
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header-contacts-link {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-color);

  @include tablet {
    position: absolute;
    bottom: -20px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  @include desk {
    position: static;
    transform: translateY(0);
  }
}
