.hero-container {
    max-width: 767px;
    padding-top: 208px;
    padding-bottom: 209px;
    padding-left: 30px;
    padding-right: 30px;

    background-image: url(../../images/hero/hero_mob@1x.jpg);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/hero/hero_mob@2x.jpg);
    }
}

.hero-block-left{
    display: none;
}