.uppertitle-portfolio {
  margin-bottom: 71px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.portfolio-thumb {
  @include tablet {
    max-width: 330px;
  }

  @include desk {
    max-width: 270px;
  }
}
